__pycache__/**
env/**
schemas/__pycache__/**
connection/__pycache__/**
models/__pycache__/**
path/__pycache__/**
cahier_charge.pdf
dal/__pycache__/**
.vscode/
inventory_test.db
inventory.db
test_api/**